<template>
  <div>
    <div
      class="container"
    >
      <v-row v-if="dataLoaded" class="float-block" :class="{ 'show-float-block': showScrollBlock }">
        <v-col
          cols="12"
          md="1"
        />
        <v-col
          cols="12"
          md="2"
        >
          <img :src="car.ImageUrls[0].uri" alt="">
        </v-col>
        <v-col
          cols="12"
          md="3"
        >
          <div class="text-uppercase">
            {{ car.Condition }}
          </div>
          <div>
            {{ car.CarYears }} {{ car.CarMakers }} {{ car.CarModels }} {{ car.CarTrims }}
          </div>
          <div v-if="car.Odometer">
            {{ car.Odometer }} Miles - {{ car.City }}, {{ car.State }}
          </div>
        </v-col>
        <v-col
          cols="12"
          md="3"
        >
          <div>
            ${{ car.Price }}
          </div>
          <div class="d-flex align-center">
            <div class="good-icon">
              Good
            </div>
            <span>$1.829 Below Markets</span>
          </div>
        </v-col>
        <v-col
          cols="12"
          md="2"
          class="d-flex align-center justify-center"
        >
          <v-btn block color="primary" @click="goToCheckAvailability">
            Check Availability
          </v-btn>
        </v-col>
        <v-col
          cols="12"
          md="1"
        />
      </v-row>

      <v-fab-transition>
        <v-btn
          fab
          large
          dark
          bottom
          right
          class="go-top"
          :class="{ 'show-go-top': showScrollBlock }"
          @click="scrollTop"
        >
          <v-icon>mdi-arrow-up-bold</v-icon>
        </v-btn>
      </v-fab-transition>

      <v-row>
        <v-col
          cols="12"
          md="2"
        >
          <v-card
            class="mx-auto fixed-card"
            tile
          >
            <v-list dense flat>
              <v-list-item
                v-for="(item, i) in items"
                :key="i"
              >
                <v-list-item-content>
                  <buttont class="slide-btn" @click="slideToBlock(i)">
                    <v-list-item-title v-text="item" />
                  </buttont>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
        <v-col cols="12" md="10">
          <v-row>
            <v-col cols="12" class="pb-0">
              <div class="d-flex align-center">
                <button @click="$router.go(-1)">
                  <v-icon large>
                    mdi-chevron-left
                  </v-icon>
                </button>
                <button class="btn-back" @click="$router.go(-1)">
                  Back
                </button>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              md="7"
            >
              <div v-if="dataLoaded" class="car-card_content">
                <client-only>
                  <swiper
                    ref="swiperTop"
                    class="swiper"
                    :options="swiperOptions"
                    @slideChange="changeSwiperIndex"
                  >
                    <swiper-slide
                      v-for="img in car.ImageUrls"
                      :key="car.ListingId + img.uri"
                    >
                      <img
                        class="car-card_img"
                        :src="img.uri"
                        alt=""
                      >
                    </swiper-slide>

                    <div
                      slot="button-prev"
                      class="swiper-button-prev swiper-top-button-prev"
                    />
                    <div
                      slot="button-next"
                      class="swiper-button-next swiper-top-button-next"
                    />
                  </swiper>
                </client-only>

                <div class="d-flex">
                  <div class="swiper-bot-nav-space">
                    <div
                      class="swiper-bot-button-prev swiper-button-prev"
                    />
                  </div>
                  <client-only v-if="car.ImageUrls.length > 1">
                    <swiper
                      ref="swiperBot"
                      class="swiper swiper-bot"
                      :options="swiperOptionsBot"
                    >
                      <swiper-slide
                        v-for="(img, i) in car.ImageUrls"
                        :key="car.ListingId + img.thumbnail"
                      >
                        <button class="no-active-slide" :class="{ 'active-slide': swiperTopActiveIndex === i + 1 }" @click="toSlide(i)">
                          <img
                            class="car-card_img"
                            :src="img.thumbnail"
                            alt=""
                          >
                        </button>
                      </swiper-slide>
                    </swiper>
                  </client-only>
                  <div class="swiper-bot-nav-space">
                    <div
                      class="swiper-bot-button-next swiper-button-next"
                    />
                  </div>
                  <div class="d-flex justify-center flex-column play-video-btn">
                    <v-icon
                      large
                    >
                      mdi-play
                    </v-icon>
                    <span>Play Video</span>
                  </div>
                </div>

                <v-row class="mt-2 car-info">
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <div class="text-uppercase">
                      {{ car.Condition }}
                    </div>
                    <div>
                      {{ car.CarYears }} {{ car.CarMakers }} {{ car.CarModels }} {{ car.CarTrims }}
                    </div>
                    <div v-if="car.Odometer">
                      {{ car.Odometer }} Miles - {{ car.City }}, {{ car.State }}
                    </div>
                    <div v-if="car.DealerName">
                      Sold by: <span class="ml-1 text-decoration-underline">{{ car.DealerName }}</span>
                    </div>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <div>
                      ${{ car.Price }}
                    </div>
                    <div class="d-flex align-center">
                      <div class="good-icon">
                        Good
                      </div>
                      <span>$1.829 Below Markets</span>
                    </div>
                    <div class="text-decoration-underline">
                      {{ car.DetailedAddress }}
                    </div>
                    <div class="d-flex align-center">
                      <v-icon
                        color="blue darken-2"
                      >
                        mdi-magnify
                      </v-icon>
                      <span class="text-decoration-underline">View Inventory</span>
                    </div>
                  </v-col>
                </v-row>

                <v-divider class="my-4" />

                <div>
                  <div ref="additional-section-0" class="mt-4">
                    <h3>Basics</h3>
                    <div>
                      Fuel Economy: {{ car.FuelEconomy }}
                    </div>
                    <div>
                      Exterior Color: {{ car.ExteriorColor }}
                    </div>
                    <div>
                      Interior Color: {{ car.InteriorColor }}
                    </div>
                    <div>
                      Body Seating: {{ car.BodySeating }}
                    </div>
                    <div>
                      Transmission: {{ car.Transmission }}
                    </div>
                    <div>
                      Drive Train: {{ car.DriveTrain }}
                    </div>
                  </div>

                  <div ref="additional-section-1" class="mt-4">
                    <h3>Highlighted Features</h3>
                    <div v-for="feature in car.HighlightedFeatures" :key="feature">
                      {{ feature }}
                    </div>
                  </div>

                  <div ref="additional-section-2" class="mt-4">
                    <h3>Seller Notes</h3>
                  </div>

                  <div ref="additional-section-3" class="mt-4">
                    <h3>All Features</h3>
                    <div v-for="spec in car.DetailedSpecs" :key="spec">
                      {{ spec }}
                    </div>
                  </div>

                  <div ref="additional-section-4" class="mt-4 mb-10">
                    <h3>Car Reviews</h3>
                  </div>
                </div>
              </div>

              <div v-else class="d-flex">
                <v-progress-circular
                  size="64"
                  indeterminate
                  color="primary"
                  class="mt-10 mx-auto"
                />
              </div>
            </v-col>
            <v-col
              cols="12"
              md="5"
            >
              <v-card ref="check-availability" :class="{ 'card-highlight': cardClassHighlight }">
                <v-card-title>
                  Check Availability
                </v-card-title>

                <v-card-text>
                  <v-form ref="form" v-model="formData.valid">
                    <v-text-field
                      ref="fullName"
                      v-model="formData.fullName"
                      label="Full Name"
                      :rules="formData.fullNameRules"
                      required
                    />
                    <v-text-field
                      ref="email"
                      v-model="formData.email"
                      label="Email"
                      :rules="formData.emailRules"
                      required
                    />
                    <v-text-field
                      ref="phoneNumber"
                      v-model="formData.phoneNumber"
                      label="Phone Number"
                      :rules="formData.phoneNumberRules"
                      required
                    />

                    <v-btn v-if="!showMessageFiled" class="add-message mt-2" @click="showMessageFiled = true">
                      <v-icon
                        color="blue darken-2"
                      >
                        mdi-plus
                      </v-icon>
                      Add a message
                    </v-btn>
                    <v-textarea
                      v-else
                      v-model="formData.message"
                      rows="3"
                      name="message"
                      label="Message"
                    />
                    <v-checkbox
                      v-model="formData.emailSubscribed"
                      dense
                      hide-details
                      class="checkbox-form my-2"
                      label="Email me price drops & new listings matches"
                    />

                    <v-btn
                      color="primary"
                      block class="mb-3"
                      :loading="sendingMessage"
                      :disabled="sendingMessage"
                      @click="submitForm"
                    >
                      Send Request
                    </v-btn>
                    <v-alert
                      v-if="sendingResult === true"
                      dense
                      text
                      class="alert-block"
                      type="success"
                    >
                      your message has been successfully sent
                    </v-alert>
                    <v-alert
                      v-else-if="sendingResult === false"
                      dense
                      text
                      class="alert-block"
                      type="error"
                    >
                      something went wrong
                    </v-alert>
                    <span class="mt-2">
                      By clicking here, I authorize CarStudio adnd it's sellers/partners to contact me by text/call which may include marketing and be by autodialer. This consent does not require me to buy anything I acknowledge that I have read and agree to the <a href="#">Terms of use & Privacy Policy</a>
                    </span>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import api from '@/utils/api/routes';

export default {
  data() {
    return {
      title: 'Detail Page',
      car: {},
      selectedItem: [0],
      items: [
        'Basics',
        'Highlighted Features',
        'Seller Notes',
        'All Features',
        'Car Reviews',
      ],

      swiperOptions: {
        loop: true,
        slidesPerView: 1,
        navigation: {
          nextEl: '.swiper-top-button-next',
          prevEl: '.swiper-top-button-prev',
        },
      },
      swiperTopActiveIndex: 1,

      swiperOptionsBot: {
        loop: true,
        slidesPerView: 6,
        navigation: {
          nextEl: '.swiper-bot-button-next',
          prevEl: '.swiper-bot-button-prev',
        },
      },

      formData: {
        valid: false,
        fullName: '',
        fullNameRules: [(v) => !!v || 'Name is required'],
        email: '',
        emailRules: [
          (v) => !!v || 'Email is required',
          (v) => (v ? (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Invalid Email address') : true),
        ],
        phoneNumber: '',
        phoneNumberRules: [
          (v) => !!v || 'Phone Number is required',
          (v) => (v ? (/^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s./0-9]*$/g.test(v) || 'the phone field can only contain a number') : true),
        ],
        message: null,
        emailSubscribed: false,
      },
      showMessageFiled: false,
      sendingMessage: false,
      sendingResult: null,

      cardClassHighlight: false,
      showScrollBlock: false,
      dataLoaded: false,
    };
  },
  head() {
    return { title: this.title };
  },
  computed: {
    swiperTop() {
      return this.$refs.swiperTop.$swiper;
    },
    validationEmailOrPhone() {
      if (this.email || this.phoneNumber) {
        return true;
      }
      return false;
    },
  },
  async created() {
    window.addEventListener('scroll', this.handleScroll);

    const car = await api.cars.get(this.$route.params.id);
    if (car.length) {
      this.car = car[0];
      this.title = this.car.Title;
      this.dataLoaded = true;
    }
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    toSlide(num) {
      this.swiperTopActiveIndex = num + 1;
      this.swiperTop.slideTo(num + 1, 500);
    },
    changeSwiperIndex() {
      this.swiperTopActiveIndex = this.swiperTop.activeIndex;
    },
    async submitForm() {
      this.$refs.form.validate();
      if (!this.formData.valid) {
        return false;
      }

      const request = {
        params: {
          email_address: this.formData.email,
          phone_number: this.formData.phoneNumber,
          inquiry_name: this.formData.fullName,
          message_body: this.formData.message,
          car_listing_url: `https://cargradient.com${this.$route.path} `,
          email_subscribed: this.formData.emailSubscribed.toString().charAt(0).toUpperCase()
            + this.formData.emailSubscribed.toString().slice(1),
        },
      };
      this.sendingMessage = true;
      const res = await api.cars.sendCheckAvailability(request);
      this.sendingMessage = false;

      if (res.success === 'Sent') {
        this.sendingResult = true;
      } else if (res.success === 'Failed') {
        this.sendingResult = false;
      }
      return res;
    },
    handleScroll() {
      if (window.top.scrollY > 60) {
        this.showScrollBlock = true;
      } else {
        this.showScrollBlock = false;
      }
    },
    scrollTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    },
    slideToBlock(index) {
      setTimeout(() => {
        window.scrollTo({
          top: this.$refs[`additional-section-${index}`].offsetTop - 100,
          behavior: 'smooth',
        });
      }, 100);
    },
    goToCheckAvailability() {
      this.cardClassHighlight = true;
      setTimeout(() => {
        window.scrollTo({
          top: this.$refs['check-availability'],
          behavior: 'smooth',
        });
      }, 100);
    },
  },
};
</script>

<style lang="scss" src="@/assets/styles/search/detail.scss" scoped />
