<template>
  <div>
    <div
      class="container"
    >
      <v-row>
        <v-col
          cols="12"
          md="3"
        >
          <v-card v-if="dataLoaded">
            <sideBar
              :cars-loading="carsLoading" :cars-filtered="carsFiltered" :cars="cars"
              :condition-selected="conditionSelected"
              :car-makers-selected="carMakersSelected"
              :car-body-types-selected="carBodyTypesSelected"
              :car-models-selected="carModelsSelected"
              :car-models-all="carModelsAll"
              :car-trims-selected="carTrimsSelected"
              :location-selected="locationSelected" :zip-code="zipCode"
              :min-price="minPrice" :max-price="maxPrice"
              :min-year="minYear" :max-year="maxYear"
              :mileage="mileage"
              @changeConditionSelectedProp="changeConditionSelected"
              @changeCarMakersSelectedProp="changeCarMakersSelected"
              @changeCarBodyTypesSelectedProp="changeCarBodyTypesSelected"
              @changeCarModelsSelectedProp="changeCarModelsSelected"
              @changeCarTrimsSelectedProp="changeCarTrimsSelected"
              @changeLocationSelectedProp="changeLocationSelected"
              @changePriceProp="changePrice"
              @changeMinYearProp="changeMinYear"
              @changeMaxYearProp="changeMaxYear"
              @changeMileageProp="changeMileage"
              @changeTransmissionsSelectedProp="changeTransmissionsSelected"
              @changeDriveTrainsSelectedProp="changeDriveTrainsSelected"
              @changeExteriorColorSelectedProp="changeExteriorColorSelected"
              @changeInteriorColorSelectedProp="changeInteriorColorSelected"
              @changeFuelTypesSelectedProp="changeFuelTypesSelected"
              @changeEnginesSelectedProp="changeEnginesSelected"
              @changeFeaturesSelectedProp="changeFeaturesSelected"
            />
          </v-card>

          <v-progress-circular
            v-else
            class="mt-5"
            indeterminate
            color="primary"
          />
        </v-col>
        <v-col
          cols="12"
          md="9"
        >
          <v-row>
            <v-col cols="9">
              <v-chip
                v-for="filter in selectedfilters"
                :key="filter.name"
                class="ma-2"
                close
                @click:close="removeFilter(filter)"
              >
                {{ filter.name }}
              </v-chip>
            </v-col>
            <v-col cols="3">
              <v-select
                v-model="sortSelected"
                :dense="true"
                label="Sort By"
                width="160px"
                :items="sortList"
                hide-details
              />
            </v-col>
          </v-row>

          <v-card class="mt-5">
            <v-card-text>
              <div class="d-flex justify-center align-center">
                <span>
                  Email Alert for Price drops & New listing matches
                </span>
                <v-text-field
                  label="Email"
                  outlined
                  dense
                  hide-details
                  class="shrink ml-4"
                />
              </div>

              <div class="d-flex justify-center align-center">
                <v-btn class="mr-4">
                  Subscribe
                </v-btn>
                <span>You are agree to our Privacy Policy and Terms of Use</span>
              </div>
            </v-card-text>
          </v-card>

          <div class="d-flex my-4">
            <v-btn
              class="ml-auto"
              small
              @click="changeView('grid')"
            >
              <v-icon class="mr-1">
                mdi-view-grid-outline
              </v-icon>
              Grid View
            </v-btn>
            <v-btn
              class="ml-2"
              small
              @click="changeView('list')"
            >
              <v-icon class="mr-1">
                mdi-format-list-bulleted-square
              </v-icon>
              List View
            </v-btn>
            <v-btn
              class="ml-2"
              small
            >
              <v-icon class="mr-1">
                mdi-map-marker-circle
              </v-icon>
              Map View
            </v-btn>
          </div>

          <template v-if="!carsLoading">
            <v-container
              v-if="currentView === 'grid'"
              fluid
              grid-list-md
              class="cars-grid mt-2"
            >
              <v-layout
                v-if="carsPaganation.length"
                row
                wrap
              >
                <v-flex
                  v-for="(car, idx) in carsPaganation"
                  :key="idx"
                  class="d-flex lg5-custom xs12 sm6 md4"
                >
                  <v-card class="car-card">
                    <v-card-title
                      primary
                      class="title"
                    >
                      <v-icon
                        dense
                      >
                        mdi-heart-outline
                      </v-icon>
                      <v-checkbox
                        dense
                        hide-details
                        label="compare"
                      />
                    </v-card-title>
                    <v-card-text class="car-grid-wrap">
                      <client-only>
                        <swiper
                          class="swiper"
                          :options="swiperOptions"
                        >
                          <swiper-slide
                            v-for="img in getSliderUrls(car.ImageUrls)"
                            :key="car.Title + img.thumbnail"
                          >
                            <img
                              class="car-card_img"
                              :src="img.thumbnail"
                              alt=""
                            >
                          </swiper-slide>

                          <div
                            slot="button-prev"
                            :class="{'d-none': car.ImageUrls.length <= 1 }"
                            class="swiper-button-prev"
                          />
                          <div
                            slot="button-next"
                            :class="{'d-none': car.ImageUrls.length <= 1 }"
                            class="swiper-button-next"
                          />
                          <div
                            slot="pagination"
                            class="swiper-pagination"
                          />
                        </swiper>
                      </client-only>
                      <v-divider />
                      <NuxtLink :to="'/carsearch/result/'+car.ListingId" class="car-link">
                        <div>{{ car.CarYears }} {{ car.CarMakers }} {{ car.CarModels }}</div>
                        <div>{{ car.CarTrims }} {{ formatOdometr(car.Odometer) }}miles</div>
                        <div>${{ car.Price }}</div>
                      </NuxtLink>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <h3 v-else>
                no results were found for your search
              </h3>
            </v-container>

            <div
              v-if="currentView === 'list'"
              class="mt-6"
            >
              <v-card class="car-list-wrap">
                <div
                  v-for="(car, idx) in carsPaganation"
                  :key="idx"
                  class="car-list-wrap"
                >
                  <v-row>
                    <v-col cols="5">
                      <client-only>
                        <swiper
                          class="swiper"
                          :options="swiperOptions"
                        >
                          <swiper-slide
                            v-for="img in getSliderUrls(car.ImageUrls)"
                            :key="car.Title + img.uri"
                          >
                            <img
                              :src="img.uri"
                              alt=""
                            >
                          </swiper-slide>

                          <div
                            slot="button-prev"
                            :class="{'d-none': car.ImageUrls.length <= 1 }"
                            class="swiper-button-prev"
                          />
                          <div
                            slot="button-next"
                            :class="{'d-none': car.ImageUrls.length <= 1 }"
                            class="swiper-button-next"
                          />
                          <div
                            slot="pagination"
                            class="swiper-pagination"
                          />
                        </swiper>
                      </client-only>
                    </v-col>
                    <v-col cols="7">
                      <NuxtLink :to="'/carsearch/result/'+car.ListingId" class="car-link">
                        <div>{{ car.CarYears }} {{ car.CarMakers }} {{ car.CarModels }}</div>
                        <div>{{ car.CarTrims }} {{ formatOdometr(car.Odometer) }}miles</div>
                        <div>${{ car.Price }}</div>
                      </NuxtLink>
                    </v-col>
                  </v-row>
                  <v-divider />
                </div>
              </v-card>
            </div>
            <div class="d-flex justify-end mt-2">
              <v-pagination
                v-model="page"
                :length="totalPages"
                :total-visible="7"
              />
            </div>
          </template>

          <div v-else class="d-flex">
            <v-progress-circular
              size="64"
              indeterminate
              color="primary"
              class="mt-10 mx-auto"
            />
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import api from '@/utils/api/routes';
import sideBar from '@/components/search/sideBar';

export default {
  components: {
    sideBar,
  },
  data() {
    return {
      page: 1,
      itemsPerPage: 25,
      sortSelected: 'Best Match',
      sortList: [
        'Best Match',
        'Price: Low \u27A4 High',
        'Price: High \u27A4 Low',
        'Mileage: Low \u27A4 High',
        'Mileage: High \u27A4 Low',
        'Distance: Near \u27A4 Far',
        'Distance: Far \u27A4 Near',
      ],
      queryParams: '',
      cars: [],

      conditionSelected: 'All',
      carMakersSelected: [],
      carBodyTypesSelected: [],
      carModelsSelected: [],
      carModelsAll: [],
      carTrimsSelected: [],
      locationSelected: 'Unlimited',
      zipCode: null, // 98052
      minPrice: null,
      maxPrice: null,
      minYear: 'Oldest',
      maxYear: 'Newest',
      mileage: [0, 200],

      transmissionsSelected: [],
      driveTrainsSelected: [],
      exteriorColorSelected: [],
      interiorColorSelected: [],
      fuelTypesSelected: [],
      enginesSelected: [],
      featuresSelected: [],

      currentView: 'grid',
      dataLoaded: false,
      carsLoading: false,

      swiperOptions: {
        loop: true,
        slidesPerView: 1,
        pagination: {
          clickable: true,
          el: '.swiper-pagination',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    };
  },
  head() {
    return { title: 'Search Result' };
  },
  computed: {
    sortedCarList() {
      const sortedList = this.carsFiltered;
      if (this.sortSelected === 'Price: Low \u27A4 High') {
        return sortedList.sort((a, b) => a.Price - b.Price);
      }
      if (this.sortSelected === 'Price: High \u27A4 Low') {
        return sortedList.sort((a, b) => b.Price - a.Price);
      }
      if (this.sortSelected === 'Distance: Near \u27A4 Far') {
        return this.carsFiltered;
      }
      if (this.sortSelected === 'Distance: Far \u27A4 Near') {
        return this.carsFiltered;
      }
      if (this.sortSelected === 'Mileage: Low \u27A4 High') {
        return sortedList.sort((a, b) => a.Odometer - b.Odometer);
      }
      if (this.sortSelected === 'Mileage: High \u27A4 Low') {
        return sortedList.sort((a, b) => b.Odometer - a.Odometer);
      }
      return this.carsFiltered;
    },
    selectedfilters() {
      let filters = [];
      if (this.conditionSelected !== 'All') {
        filters.push({ name: this.conditionSelected, category: 'conditionSelected' });
      }
      if (this.carMakersSelected.length) {
        filters = filters.concat(this.carMakersSelected.map((item) => ({ name: item, category: 'carMakersSelected' })));
      }
      if (this.carBodyTypesSelected.length) {
        filters = filters.concat(this.carBodyTypesSelected.map((item) => ({ name: item, category: 'carBodyTypesSelected' })));
      }
      if (this.carModelsSelected.length) {
        filters = filters.concat(this.carModelsSelected.map((item) => ({ name: item, category: 'carModelsSelected' })));
      }
      if (this.carTrimsSelected.length) {
        filters = filters.concat(this.carTrimsSelected.map((item) => ({ name: item, category: 'carTrimsSelected' })));
      }
      if (this.locationSelected !== 'Unlimited') {
        filters.push({ name: this.locationSelected, category: 'locationSelected' });
      }
      if (this.zipCode !== 98052 && this.zipCode !== null) {
        filters.push({ name: `ZipCode - ${this.zipCode}`, category: 'zipCode' });
      }
      if (this.minPrice !== null) {
        filters.push({ name: `Min Price - $${this.minPrice}`, category: 'minPrice' });
      }
      if (this.maxPrice) {
        filters.push({ name: `Max Price - $${this.maxPrice}`, category: 'maxPrice' });
      }
      if (this.minYear && this.minYear !== 'Oldest') {
        filters.push({ name: `Min Year - ${this.minYear}`, category: 'minYear' });
      }
      if (this.maxYear && this.maxYear !== 'Newest') {
        filters.push({ name: `Max Year - ${this.maxYear}`, category: 'maxYear' });
      }
      if (this.mileage[0]) {
        filters.push({ name: `Min Mileage - ${this.mileage[0]}.000`, category: 'minMileage' });
      }
      if (this.mileage[1] && this.mileage[1] !== 200) {
        filters.push({ name: `Max Mileage - ${this.mileage[1] === 51 ? 'Max' : this.mileage[1]}.000`, category: 'maxMileage' });
      }
      if (this.transmissionsSelected.length) {
        filters = filters.concat(this.transmissionsSelected.map((item) => ({ name: item, category: 'transmissionsSelected' })));
      }
      if (this.driveTrainsSelected.length) {
        filters = filters.concat(this.driveTrainsSelected.map((item) => ({ name: item, category: 'driveTrainsSelected' })));
      }

      if (this.driveTrainsSelected.length) {
        filters = filters.concat(this.driveTrainsSelected.map((item) => ({ name: item, category: 'driveTrainsSelected' })));
      }
      if (this.exteriorColorSelected.length) {
        filters = filters.concat(this.exteriorColorSelected.map((item) => ({ name: item, category: 'exteriorColorSelected' })));
      }
      if (this.interiorColorSelected.length) {
        filters = filters.concat(this.interiorColorSelected.map((item) => ({ name: item, category: 'interiorColorSelected' })));
      }
      if (this.fuelTypesSelected.length) {
        filters = filters.concat(this.fuelTypesSelected.map((item) => ({ name: item, category: 'fuelTypesSelected' })));
      }
      if (this.enginesSelected.length) {
        filters = filters.concat(this.enginesSelected.map((item) => ({ name: item, category: 'enginesSelected' })));
      }
      if (this.featuresSelected.length) {
        filters = filters.concat(this.featuresSelected.map((item) => ({ name: item, category: 'featuresSelected' })));
      }

      return filters;
    },
    startIndexPaginate() {
      return (this.page - 1) * this.itemsPerPage;
    },
    endIndexPaginate() {
      return this.page * this.itemsPerPage;
    },
    carsFiltered() {
      let cars = this.cars;

      cars = this.checkFilterParams(cars, 'carTrimsSelected', 'CarTrims');
      cars = this.checkFilterParams(cars, 'carModelsSelected', 'CarModels');
      cars = this.checkFilterParams(cars, 'transmissionsSelected', 'Transmission');
      cars = this.checkFilterParams(cars, 'driveTrainsSelected', 'DriveTrain');
      cars = this.checkFilterParams(cars, 'exteriorColorSelected', 'ExteriorColor');
      cars = this.checkFilterParams(cars, 'interiorColorSelected', 'InteriorColor');
      cars = this.checkFilterParams(cars, 'fuelTypesSelected', 'FuelType');
      cars = this.checkFilterParams(cars, 'enginesSelected', 'Engine');
      cars = this.checkFilterParams(cars, 'carBodyTypesSelected', 'BodyStyle');

      if (this.minPrice) {
        cars = cars.filter((car) => car.Price >= this.minPrice);
      }
      if (this.maxPrice) {
        cars = cars.filter((car) => car.Price <= this.maxPrice);
      }
      if (this.minYear && this.minYear !== 'Oldest') {
        cars = cars.filter((car) => +car.CarYears >= +this.minYear);
      }
      if (this.maxYear && this.maxYear !== 'Newest') {
        cars = cars.filter((car) => +car.CarYears <= +this.maxYear);
      }

      if (this.mileage[0] && this.mileage[0] !== 0) {
        cars = cars.filter((car) => car.Odometer >= this.mileage[0] * 1000);
      }
      if (this.mileage[1] && this.mileage[1] !== 200) {
        cars = cars.filter((car) => car.Odometer <= this.mileage[1] * 1000);
      }

      if (this.featuresSelected.length) {
        cars = cars.filter((car) => {
          for (let i = 0; this.featuresSelected.length > i; i++) {
            if (car.HighlightedFeatures
              .filter((feature) => feature === this.featuresSelected[i]).length) {
              return true;
            }
          }
          return false;
        });
      }

      return cars;
    },
    totalPages() {
      return Math.ceil(this.carsFiltered.length / this.itemsPerPage);
    },
    carsPaganation() {
      if (this.sortedCarList.length) {
        return this.sortedCarList.slice(this.startIndexPaginate, this.endIndexPaginate);
      }
      return [];
    },
  },
  async created() {
    this.getCars();

    this.carModelsAll = await api.cars.getModels();
    this.dataLoaded = true;
  },
  methods: {
    async getCars() {
      this.carsLoading = true;
      this.queryParams = this.$route.query;
      if (this.$route.query.Condition) {
        this.conditionSelected = this.$route.query.Condition;
      }
      if (this.$route.query.CarMakers) {
        this.carMakersSelected = this.$route.query.CarMakers.split(',');
      }
      if (this.$route.query.CarModels) {
        this.carModelsSelected = this.$route.query.CarModels.split(',');
      }
      if (this.$route.query.CarTrims) {
        this.carTrimsSelected = this.$route.query.CarTrims.split(',');
      }
      if (this.$route.query.user_location) {
        this.zipCode = this.$route.query.user_location;
      }
      if (this.$route.query.radius) {
        this.locationSelected = `${this.$route.query.radius} miles`;
      }
      if (this.$route.query.starting_price) {
        this.minPrice = this.$route.query.starting_price;
      }
      if (this.$route.query.ending_price) {
        this.maxPrice = this.$route.query.ending_price;
      }

      if (this.$route.query.car_year_start) {
        this.minYear = this.$route.query.car_year_start;
      }
      if (this.$route.query.car_year_end) {
        this.maxYear = this.$route.query.car_year_end;
      }

      if (this.$route.query.starting_mileage) {
        this.mileage[0] = this.$route.query.starting_mileage / 1000;
      }
      if (this.$route.query.ending_mileage) {
        this.mileage[1] = this.$route.query.ending_mileage / 1000;
      }
      this.cars = await api.cars.getAll(this.queryParams);
      if (this.cars instanceof Error) {
        this.cars = [];
      }
      this.carsLoading = false;
    },

    async changeLocationSelected(data) {
      this.locationSelected = data.locations;
      this.zipCode = data.zipCode;
      await this.refrashData();
    },
    async changeConditionSelected(val) {
      this.conditionSelected = val;
      await this.refrashData();
    },
    async changeCarMakersSelected(val) {
      this.carMakersSelected = val;
      await this.refrashData();
    },
    changeCarBodyTypesSelected(val) {
      this.carBodyTypesSelected = val;
    },
    changeCarModelsSelected(val) {
      this.carModelsSelected = val;
    },
    changeCarTrimsSelected(val) {
      this.carTrimsSelected = val;
    },
    changePrice(data) {
      this.minPrice = data.minPrice;
      this.maxPrice = data.maxPrice;
    },
    changeMinYear(val) {
      this.minYear = val;
    },
    changeMaxYear(val) {
      this.maxYear = val;
    },
    changeMileage(val) {
      this.mileage = val;
    },
    changeTransmissionsSelected(val) {
      this.transmissionsSelected = val;
    },
    changeDriveTrainsSelected(val) {
      this.driveTrainsSelected = val;
    },
    changeExteriorColorSelected(val) {
      this.exteriorColorSelected = val;
    },
    changeInteriorColorSelected(val) {
      this.interiorColorSelected = val;
    },
    changeFuelTypesSelected(val) {
      this.fuelTypesSelected = val;
    },
    changeEnginesSelected(val) {
      this.enginesSelected = val;
    },
    changeFeaturesSelected(val) {
      this.featuresSelected = val;
    },
    async refrashData() {
      this.carsLoading = true;

      this.transmissionsSelected = [];
      this.driveTrainsSelected = [];
      this.exteriorColorSelected = [];
      this.interiorColorSelected = [];
      this.fuelTypesSelected = [];
      this.enginesSelected = [];
      this.featuresSelected = [];

      const query = this.createQueryParams();
      this.$router.push({ path: this.$route.path, query });
      this.cars = await api.cars.getAll(query);
      if (this.cars instanceof Error) {
        this.cars = [];
      }
      this.carsLoading = false;
    },
    createQueryParams() {
      const query = {};
      if (this.conditionSelected !== 'All') {
        query.Condition = this.conditionSelected;
      }
      if (this.carMakersSelected.length) {
        query.CarMakers = this.carMakersSelected.toString();
      }
      if (this.carModelsSelected.length) {
        if (this.carMakersSelected.length === 0) {
          this.carModelsSelected = [];
        } else {
          this.carModelsSelected = this.carModelsSelected.filter((model) => {
            let isHaveModel = [];
            for (let i = 0; i < this.carMakersSelected.length; i++) {
              isHaveModel = this.carModelsAll.filter((data) => {
                if (data.BasicSpec_Make === this.carMakersSelected[i]
                  && data.BasicSpec_Model === model) {
                  return true;
                }
                return false;
              });
              if (isHaveModel.length) return true;
            }
            return false;
          });
          query.CarModels = this.carModelsSelected.toString();
        }
      }
      if (this.carTrimsSelected.length) {
        query.CarTrims = this.carTrimsSelected.toString();
      }
      if (this.locationSelected && this.locationSelected !== 'Unlimited') {
        query.radius = Number.parseInt(this.locationSelected, 10);
      }

      if (this.zipCode) {
        query.user_location = this.zipCode;
      }

      if (this.minPrice !== null) {
        query.starting_price = this.minPrice;
      }
      if (this.maxPrice) {
        query.ending_price = this.maxPrice;
      }

      if (this.minYear && this.minYear !== 'Oldest') {
        query.car_year_start = this.minYear;
      }
      if (this.maxYear && this.maxYear !== 'Newest') {
        query.car_year_end = this.maxYear;
      }

      if (this.mileage[0]) {
        query.starting_mileage = this.mileage[0] * 1000;
      }
      if (this.mileage[1] && this.mileage[1] !== 200) {
        query.ending_mileage = this.mileage[1] * 1000;
      }

      return query;
    },
    async removeFilter(filter) {
      if (filter.category === 'conditionSelected') {
        this.conditionSelected = 'All';
        this.refrashData();
        return;
      }

      if (filter.category === 'carMakersSelected') {
        for (let i = 0; i < this.carMakersSelected.length; i++) {
          if (this.carMakersSelected[i] === filter.name) {
            this.carMakersSelected.splice(i, 1);
            this.refrashData();
            return;
          }
        }
      }

      if (filter.category === 'carBodyTypesSelected') {
        for (let i = 0; i < this.carBodyTypesSelected.length; i++) {
          if (this.carBodyTypesSelected[i] === filter.name) {
            this.carBodyTypesSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'carModelsSelected') {
        for (let i = 0; i < this.carModelsSelected.length; i++) {
          if (this.carModelsSelected[i] === filter.name) {
            this.carModelsSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'carTrimsSelected') {
        for (let i = 0; i < this.carTrimsSelected.length; i++) {
          if (this.carTrimsSelected[i] === filter.name) {
            this.carTrimsSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'locationSelected') {
        this.locationSelected = 'Unlimited';
        this.refrashData();
        return;
      }
      if (filter.category === 'zipCode') {
        this.zipCode = null;
        this.refrashData();
        return;
      }
      if (filter.category === 'minPrice') {
        this.minPrice = null;
        return;
      }
      if (filter.category === 'maxPrice') {
        this.maxPrice = null;
        return;
      }
      if (filter.category === 'minYear') {
        this.minYear = null;
        return;
      }
      if (filter.category === 'maxYear') {
        this.maxYear = null;
        return;
      }
      if (filter.category === 'minMileage') {
        this.mileage = [0, this.mileage[1]];
        return;
      }
      if (filter.category === 'maxMileage') {
        this.mileage = [this.mileage[0], 200];
      }

      if (filter.category === 'transmissionsSelected') {
        for (let i = 0; i < this.transmissionsSelected.length; i++) {
          if (this.transmissionsSelected[i] === filter.name) {
            this.transmissionsSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'driveTrainsSelected') {
        for (let i = 0; i < this.driveTrainsSelected.length; i++) {
          if (this.driveTrainsSelected[i] === filter.name) {
            this.driveTrainsSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'exteriorColorSelected') {
        for (let i = 0; i < this.exteriorColorSelected.length; i++) {
          if (this.exteriorColorSelected[i] === filter.name) {
            this.exteriorColorSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'interiorColorSelected') {
        for (let i = 0; i < this.interiorColorSelected.length; i++) {
          if (this.interiorColorSelected[i] === filter.name) {
            this.interiorColorSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'fuelTypesSelected') {
        for (let i = 0; i < this.fuelTypesSelected.length; i++) {
          if (this.fuelTypesSelected[i] === filter.name) {
            this.fuelTypesSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'enginesSelected') {
        for (let i = 0; i < this.enginesSelected.length; i++) {
          if (this.enginesSelected[i] === filter.name) {
            this.enginesSelected.splice(i, 1);
            return;
          }
        }
      }

      if (filter.category === 'featuresSelected') {
        for (let i = 0; i < this.featuresSelected.length; i++) {
          if (this.featuresSelected[i] === filter.name) {
            this.featuresSelected.splice(i, 1);
            return;
          }
        }
      }
    },
    checkFilterParams(cars, nameFilter, prop) {
      if (this[nameFilter].length) {
        return cars.filter((car) => {
          for (let i = 0; this[nameFilter].length > i; i++) {
            if (car[prop] === this[nameFilter][i]) {
              return true;
            }
          }
          return false;
        });
      }
      return cars;
    },
    changeView(view) {
      this.currentView = view;
    },
    formatOdometr(value) {
      return value !== 'nan' ? value : '';
    },
    getSliderUrls(urls) {
      return urls.slice(0, 6);
    },
  },
};
</script>

<style lang="scss" src="@/assets/styles/search/result.scss" scoped />
