<template>
  <div>
    <!-- v-if="dataLoaded" -->
    <div
      v-if="1"
      class="container search-page"
    >
      <v-row class="mt-4">
        <v-col cols="6">
          <h3>Find the Car You Love with Good Dears</h3>
          <v-btn-toggle
            v-model="toggleSearch"
            dense
            mandatory
            color="primary accent-3"
            class="mt-2"
            @change="changeToggle"
          >
            <v-btn>By Make/Model</v-btn>
            <v-btn>By Body Style</v-btn>
          </v-btn-toggle>
        </v-col>
        <v-col cols="6">
          <v-btn
            x-small
            disabled
            class="mt-1"
          >
            Advanced Search
          </v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="2">
          <v-skeleton-loader
            :loading="!dataLoaded"
            transition="scale-transition"
            type="list-item"
          >
            <v-select v-model="usedCarsSelected"
                      :items="usedCars"
                      label="Condition"
            />
          </v-skeleton-loader>
        </v-col>

        <template v-if="toggleSearch === 0">
          <v-col cols="2" class="selects-wrap">
            <v-skeleton-loader
              :loading="!dataLoaded"
              transition="scale-transition"
              type="list-item"
            >
              <v-select
                v-model="carMakersSelected"
                :items="carMakers"
                label="Car Makers"
                @input="carModelsSelected = 'All Models', trimSelected = ['All Trims']"
              />
            </v-skeleton-loader>
          </v-col>
          <v-col cols="2">
            <v-skeleton-loader
              :loading="!dataLoaded"
              transition="scale-transition"
              type="list-item"
            >
              <v-select
                v-model="carModelsSelected"
                :items="carModels"
                :disabled="carMakersSelected === 'All Makers'"
                label="Car Models"
                @input="trimSelected = ['All Trims']"
              />
            </v-skeleton-loader>
          </v-col>
          <v-col
            cols="2"
          >
            <v-skeleton-loader
              :loading="!dataLoaded"
              transition="scale-transition"
              type="list-item"
            >
              <v-select
                v-model="trimSelected"
                :disabled="carModelsSelected === 'All Models'"
                :items="сarTrims"
                label="Trim"
              />
            </v-skeleton-loader>
          </v-col>
        </template>

        <template v-else>
          <v-col cols="2">
            <v-skeleton-loader
              :loading="!dataLoaded"
              transition="scale-transition"
              type="list-item"
            >
              <v-select
                v-model="bodyTypeSelected"
                :items="bodyType"
                label="Body Type"
              />
            </v-skeleton-loader>
          </v-col>
          <v-col cols="2">
            <v-skeleton-loader
              :loading="!dataLoaded"
              transition="scale-transition"
              type="list-item"
            >
              <v-select
                v-model="sizeSelected"
                :items="size"
                label="Size"
              />
            </v-skeleton-loader>
          </v-col>
          <v-col
            class="d-flex"
            cols="2"
          >
            <v-skeleton-loader
              :loading="!dataLoaded"
              transition="scale-transition"
              type="list-item"
            >
              <v-select
                v-model="pricingTierSelected"
                :items="pricingTier"
                label="Price Tiers"
              />
            </v-skeleton-loader>
          </v-col>
        </template>

        <v-col cols="2">
          <v-skeleton-loader
            :loading="!dataLoaded"
            transition="scale-transition"
            type="list-item"
          >
            <v-select
              v-model="distanceSelected"
              :items="distance"
              label="Distance"
            />
          </v-skeleton-loader>
        </v-col>
        <v-col cols="2">
          <v-skeleton-loader
            :loading="!dataLoaded"
            transition="scale-transition"
            type="list-item"
          >
            <v-text-field
              v-model="zipCode"
              label="ZipCode"
            />
          </v-skeleton-loader>
        </v-col>
      </v-row>

      <v-row class="mt-3">
        <v-col cols="12">
          <v-range-slider
            v-model="rangePrice"
            thumb-label="always"
            label="Price:"
            :max="maxPrice"
            :min="minPrice"
            class="range-slider"
          >
            <template #thumb-label="props">
              {{ props.value === 501 ? 'Max' : `${props.value}k` }}
            </template>
            <template #append>
              <v-btn
                color="primary"
                @click="search"
              >
                Search
              </v-btn>
            </template>
          </v-range-slider>
        </v-col>
      </v-row>

      <v-row class="mt-3">
        <v-col cols="3" />
        <v-col cols="6">
          <!-- Import the component -->
          <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js" />
          <!-- Use it like any other HTML element -->
          <model-viewer class="car-model" src="https://discourseforumstorage.blob.core.windows.net/discoursestoragecontainer/McLaren.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls />
        </v-col>
      </v-row>
    </div>
    <v-progress-circular
      v-else
      indeterminate
      color="primary"
    />
  </div>
</template>

<script>
import api from '@/utils/api/routes';

export default {
  data() {
    return {
      cars: [],

      usedCars: ['New & Used Cars', 'New Cars', 'Used Cars', 'For Sale by Owner'],
      usedCarsSelected: 'New & Used Cars',

      carMakers: [],
      carMakersSelected: 'All Makers',

      carModelsAll: [],
      carModelsSelected: 'All Models',

      trimSelected: ['All Trims'],

      bodyType: ['All', 'Sedan', 'SUV', 'Grand Coupe', 'Truck'],
      bodyTypeSelected: 'All',

      size: ['All', 'Small', 'Mid', 'Large'],
      sizeSelected: 'All',

      pricingTier: ['All', 'Economic', 'Luxury'],
      pricingTierSelected: 'All',

      distance: ['Unlimited', '5 miles', '10 miles', '25 miles', '50 miles', '100 miles', '500 miles'],
      distanceSelected: 'Unlimited',
      zipCode: 98052,

      minPrice: 0,
      maxPrice: 501,
      rangePrice: [0, 501],

      toggleSearch: 0,
      dataLoaded: false,
    };
  },
  head() {
    return { title: 'Search' };
  },
  computed: {
    carModels() {
      if (this.carMakersSelected === 'All Makers') {
        return ['All Models'];
      }
      const result = ['All Models'];
      const models = this.carModelsAll
        .filter((item) => item.BasicSpec_Make === this.carMakersSelected)
        .map((item) => item.BasicSpec_Model);
      models.sort();
      return result.concat(models);
    },
    сarTrims() {
      let dataTrims = [];
      let cars = this.cars;
      if (this.carMakersSelected === 'All Makers') {
        dataTrims = [...new Set(cars.map((car) => car.CarTrims))];
      } else if (this.carModelsSelected === 'All Models') {
        cars = cars.filter((car) => car.CarMakers === this.carMakersSelected);
        dataTrims = [...new Set(cars.map((car) => car.CarTrims))];
      } else {
        cars = cars.filter((car) => car.CarMakers === this.carMakersSelected
          && car.CarModels === this.carModelsSelected);
        dataTrims = [...new Set(cars.map((car) => car.CarTrims))];
      }
      dataTrims.sort();
      dataTrims.unshift(['All Trims']);
      return dataTrims;
    },
  },
  async created() {
    let carMakers = await api.cars.getMakers();
    carMakers = carMakers.map((maker) => maker.BasicSpec_Make);
    carMakers.sort();
    this.carMakers = ['All Makers'].concat(carMakers);
    this.carModelsAll = await api.cars.getModels();
    this.cars = await api.cars.getAll(this.queryParams);
    this.dataLoaded = true;
  },
  methods: {
    search() {
      const query = {};

      if (this.usedCarsSelected === 'New Cars') {
        query.Condition = 'New';
      } else if (this.usedCarsSelected === 'Used Cars') {
        query.Condition = 'Used';
      }

      if (this.toggleSearch === 0) {
        if (this.carMakersSelected !== 'All Makers') {
          query.CarMakers = this.carMakersSelected;
        }
        if (this.carModelsSelected !== 'All Models') {
          query.CarModels = this.carModelsSelected;
        }
        if (this.trimSelected[0] !== 'All Trims') {
          query.CarTrims = this.trimSelected;
        }
      }
      if (this.toggleSearch === 1) {
        if (this.bodyTypeSelected !== 'All') {
          query.BodyStyle = this.bodyTypeSelected;
        }
      }

      if (this.distanceSelected !== 'Unlimited' && this.zipCode) {
        query.radius = Number.parseInt(this.distanceSelected, 10);
        query.zipCode = this.zipCode;
      }

      if (this.rangePrice[0] !== this.minPrice) {
        query.starting_price = this.rangePrice[0] * 1000;
      }
      if (this.rangePrice[1] !== this.maxPrice) {
        query.ending_price = this.rangePrice[1] * 1000;
      }

      this.$router.push({ path: 'carsearch/result', query });
    },
    changeToggle(index) {
      if (index === 0) {
        this.bodyTypeSelected = 'All';
        this.sizeSelected = 'All';
        this.pricingTierSelected = 'All';
      }
      if (index === 1) {
        this.carMakersSelected = 'All Makers';
        this.carModelsSelected = 'All Models';
        this.trimSelected = 'All Trims';
      }
    },
  },
};
</script>

<style lang="scss" src="@/assets/styles/search/index.scss" />
