<template>
  <div class="sidebar">
    <v-card-title class="primary container white--text">
      Results <span v-if="!carsLoading" class="ml-2">{{ carsFiltered.length }}</span>
    </v-card-title>
    <div class="height-2">
      <v-progress-linear
        v-if="carsLoading"
        color="primary"
        indeterminate
        height="2"
      />
    </div>

    <v-container>
      <h4>Location</h4>
      <div class="d-flex">
        <v-select
          v-model="locationSelectedProp"
          label="Distance"
          class="mr-1"
          :items="locations"
          hide-details
        />
        <v-text-field
          v-model="zipCodeProp"
          hide-details
          label="ZipCode"
          @blur="changeZipCode"
        />
      </div>
    </v-container>
    <v-divider />

    <v-container>
      <h4>New/Used</h4>
      <v-radio-group
        v-model="conditionSelectedProp"
        class="mt-0"
        hide-details
        dense
        row
      >
        <v-radio
          v-for="condition in conditionList"
          :key="'condition' + condition"
          :label="condition"
          :value="condition"
        />
      </v-radio-group>
    </v-container>
    <v-divider />

    <v-container>
      <h4>Make</h4>
      <v-card
        elevation="0"
        max-height="140px"
        class="overflow-y-auto"
      >
        <v-checkbox
          v-for="maker in carMakers"
          :key="'maker' + maker"
          v-model="carMakersSelectedProp"
          :label="maker"
          :value="maker"
          hide-details
          :ripple="false"
          @change="cangeCarMakersSelected"
        />
      </v-card>
    </v-container>
    <v-divider />

    <v-container v-if="carMakersSelected.length">
      <h4>Model</h4>
      <v-card
        elevation="0"
        max-height="140px"
        class="overflow-y-auto"
      >
        <v-checkbox
          v-for="model in carModels"
          :key="'model' + model"
          v-model="carModelsSelectedProp"
          :label="`${model}`"
          :value="model"
          hide-details
          :ripple="false"
        />
      </v-card>
    </v-container>
    <v-divider v-if="carMakersSelected.length" />

    <v-container v-if="carModelsSelected.length">
      <h4>Trim</h4>
      <v-card
        elevation="0"
        max-height="140px"
        class="overflow-y-auto"
      >
        <v-checkbox
          v-for="trim in сarTrims"
          :key="'trim' + trim"
          v-model="carTrimsSelectedProp"
          :label="`${trim} (${getCount(trim, 'CarTrims')})`"
          :disabled="Boolean(!getCount(trim, 'CarTrims'))"
          :value="trim"
          hide-details
          :ripple="false"
        />
      </v-card>
    </v-container>
    <v-divider />

    <v-container>
      <h4 class="mt-3">
        Price
      </h4>
      <div class="d-flex align-end">
        <v-text-field
          v-model="minPriceProp"
          label="Min Price"
          hide-details
          @blur="changePrice"
        />
        <span class="ml-4 mr-4">to</span>
        <v-text-field
          v-model="maxPriceProp"
          label="Max Price"
          hide-details
          @blur="changePrice"
        />
      </div>

      <h4 class="mt-3">
        Year
      </h4>
      <div class="d-flex align-end">
        <v-select
          v-model="minYearProp"
          label="Min"
          class="mr-1"
          :items="minYearList"
          hide-details
        />
        <v-select
          v-model="maxYearProp"
          label="Max"
          class="mr-1"
          :items="maxYearList"
          hide-details
        />
      </div>
      <h4 class="mt-3">
        Mileage
      </h4>
      <v-range-slider
        v-model="mileageProp"
        thumb-label="always"
        :max="maxMileage"
        :min="minMileage"
        hide-details
        class="mt-10"
        @mouseup="changeMileage"
      >
        <template #thumb-label="props">
          {{ props.value === 0 ? props.value : `${props.value}k` }}
        </template>
      </v-range-slider>
    </v-container>
    <v-divider />

    <v-container>
      <h4>Transmission</h4>
      <v-card
        elevation="0"
        max-height="140px"
        class="overflow-y-auto"
      >
        <v-checkbox
          v-for="transmission in transmissions"
          :key="'transmission' + transmission"
          v-model="transmissionsSelected"
          :label="`${transmission} (${getCount(transmission, 'Transmission')})`"
          :disabled="Boolean(!getCount(transmission, 'Transmission'))"
          :value="transmission"
          hide-details
          :ripple="false"
          @change="changeTransmissionsSelected"
        />
      </v-card>
    </v-container>
    <v-divider />

    <v-container>
      <h4>Drive Train</h4>
      <v-card
        elevation="0"
        max-height="140px"
        class="overflow-y-auto"
      >
        <v-checkbox
          v-for="driveTrain in driveTrains"
          :key="driveTrain"
          v-model="driveTrainsSelected"
          :label="`${driveTrain} (${getCount(driveTrain, 'DriveTrain')})`"
          :disabled="Boolean(!getCount(driveTrain, 'DriveTrain'))"
          :value="driveTrain"
          hide-details
          :ripple="false"
          @change="changeDriveTrainsSelected"
        />
      </v-card>
    </v-container>
    <v-divider />

    <v-expansion-panels class="clear-expansion-style">
      <v-expansion-panel>
        <v-expansion-panel-header class="px-3">
          <h4>Exterior Color</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card
            elevation="0"
            max-height="140px"
            class="overflow-y-auto"
          >
            <v-checkbox
              v-for="color in exteriorColor"
              :key="color"
              v-model="exteriorColorSelected"
              :label="`${color} (${getCount(color, 'ExteriorColor')})`"
              :disabled="Boolean(!getCount(color, 'ExteriorColor'))"
              :value="color"
              hide-details
              :ripple="false"
              @change="changeExteriorColorSelected"
            />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider />

    <v-expansion-panels class="clear-expansion-style">
      <v-expansion-panel>
        <v-expansion-panel-header class="px-3">
          <h4>Interior Color</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content elevation="0">
          <v-card
            elevation="0"
            max-height="140px"
            class="overflow-y-auto"
          >
            <v-checkbox
              v-for="color in interiorColor"
              :key="'interior-color-'+color"
              v-model="interiorColorSelected"
              :label="`${color} (${getCount(color, 'InteriorColor')})`"
              :disabled="Boolean(!getCount(color, 'InteriorColor'))"
              :value="color"
              hide-details
              :ripple="false"
              @change="changeInteriorColorSelected"
            />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider />

    <v-expansion-panels class="clear-expansion-style">
      <v-expansion-panel>
        <v-expansion-panel-header class="px-3">
          <h4>Fuel Type</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card
            elevation="0"
            max-height="140px"
            class="overflow-y-auto"
          >
            <v-checkbox
              v-for="fuelType in fuelTypes"
              :key="fuelType"
              v-model="fuelTypesSelected"
              :label="`${fuelType} (${getCount(fuelType, 'FuelType')})`"
              :disabled="Boolean(!getCount(fuelType, 'FuelType'))"
              :value="fuelType"
              hide-details
              :ripple="false"
              @change="changeFuelTypesSelected"
            />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider />

    <v-expansion-panels class="clear-expansion-style">
      <v-expansion-panel>
        <v-expansion-panel-header class="px-3">
          <h4>Engine</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card
            elevation="0"
            max-height="140px"
            class="overflow-y-auto"
          >
            <v-checkbox
              v-for="engine in engines"
              :key="engine"
              v-model="enginesSelected"
              :label="`${engine} (${getCount(engine, 'Engine')})`"
              :disabled="Boolean(!getCount(engine, 'Engine'))"
              :value="engine"
              hide-details
              :ripple="false"
              @change="changeEnginesSelected"
            />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider />

    <v-expansion-panels class="clear-expansion-style">
      <v-expansion-panel>
        <v-expansion-panel-header class="px-3">
          <h4>Features</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card
            elevation="0"
            max-height="140px"
            class="overflow-y-auto"
          >
            <v-checkbox
              v-for="feature in highlightedFeatures"
              :key="feature"
              v-model="featuresSelected"
              :label="`${feature} (${getFeatureCount(feature)})`"
              :disabled="Boolean(!getFeatureCount(feature))"
              :value="feature"
              hide-details
              :ripple="false"
              @change="changeFeaturesSelected"
            />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-divider />

    <v-expansion-panels class="clear-expansion-style">
      <v-expansion-panel>
        <v-expansion-panel-header class="px-3">
          <h4>Body Type</h4>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card
            elevation="0"
            max-height="140px"
            class="overflow-y-auto"
          >
            <v-checkbox
              v-for="type in carBodyTypes"
              :key="'bodyType' + type"
              v-model="carBodyTypesSelectedProp"
              :label="`${type} (${getCount(type, 'BodyStyle')})`"
              :disabled="Boolean(!getCount(type, 'BodyStyle'))"
              :value="type"
              hide-details
              :ripple="false"
              @change="cangeBodyTypesSelected"
            />
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import api from '@/utils/api/routes';

export default {
  props: {
    carsLoading: Boolean,
    cars: {
      type: Array,
      default() {
        return [];
      },
    },
    carsFiltered: {
      type: Array,
      default() {
        return [];
      },
    },
    conditionSelected: {
      type: String,
      default: 'All',
    },
    carMakersSelected: {
      type: Array,
      default() {
        return [];
      },
    },
    carBodyTypesSelected: {
      type: Array,
      default() {
        return [];
      },
    },
    carModelsSelected: {
      type: Array,
      default() {
        return [];
      },
    },
    carModelsAll: {
      type: Array,
      default() {
        return [];
      },
    },
    carTrimsSelected: {
      type: Array,
      default() {
        return [];
      },
    },
    locationSelected: {
      type: String,
      default: 'Unlimited',
    },
    zipCode: {
      type: String,
      default: null,
    },
    minPrice: {
      type: String,
      default: null,
    },
    maxPrice: {
      type: String,
      default: null,
    },
    minYear: {
      type: String,
      default: null,
    },
    maxYear: {
      type: String,
      default: null,
    },
    mileage: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      conditionList: ['All', 'New', 'Used'],
      carMakers: [],
      locations: ['Unlimited', '5 miles', '10 miles', '25 miles', '50 miles', '100 miles', '500 miles'],
      newZipCode: null,
      newMinPrice: null,
      newMaxPrice: null,
      minYearList: [],
      maxYearList: [],
      minMileage: 0,
      maxMileage: 200,
      newMileage: [],
      transmissionsSelected: [],
      driveTrainsSelected: [],
      exteriorColorSelected: [],
      interiorColorSelected: [],
      fuelTypesSelected: [],
      enginesSelected: [],
      featuresSelected: [],
    };
  },
  computed: {
    conditionSelectedProp: {
      get() { return this.conditionSelected; },
      set(value) {
        this.$emit('changeConditionSelectedProp', value);
      },
    },
    carMakersSelectedProp: {
      get() { return this.carMakersSelected; },
      set(value) {
        this.$emit('changeCarMakersSelectedProp', value);
      },
    },
    carBodyTypesSelectedProp: {
      get() { return this.carBodyTypesSelected; },
      set(value) {
        this.$emit('changeCarBodyTypesSelectedProp', value);
      },
    },
    carModelsSelectedProp: {
      get() { return this.carModelsSelected; },
      set(value) {
        this.$emit('changeCarModelsSelectedProp', value);
      },
    },
    carModels() {
      let carModels = this.carModelsAll;
      carModels = carModels.filter((model) => {
        for (let i = 0; this.carMakersSelected.length > i; i++) {
          if (model.BasicSpec_Make === this.carMakersSelected[i]) {
            return true;
          }
        }
        return false;
      });
      return [...new Set(carModels.map((item) => item.BasicSpec_Model))].sort();
    },
    сarTrims() {
      return [...new Set(this.cars.map((car) => car.CarTrims))].sort();
    },
    carTrimsSelectedProp: {
      get() { return this.carTrimsSelected; },
      set(value) {
        this.$emit('changeCarTrimsSelectedProp', value);
      },
    },
    locationSelectedProp: {
      get() { return this.locationSelected; },
      set(value) {
        this.$emit('changeLocationSelectedProp', { locations: value, zipCode: this.newZipCode });
      },
    },
    zipCodeProp: {
      get() { return this.zipCode; },
      set(value) {
        this.newZipCode = value;
      },
    },
    minPriceProp: {
      get() { return this.minPrice; },
      set(value) {
        this.newMinPrice = value;
      },
    },
    maxPriceProp: {
      get() { return this.maxPrice; },
      set(value) {
        this.newMaxPrice = value;
      },
    },
    minYearProp: {
      get() { return this.minYear; },
      set(value) {
        this.$emit('changeMinYearProp', value);
      },
    },
    maxYearProp: {
      get() { return this.maxYear; },
      set(value) {
        this.$emit('changeMaxYearProp', value);
      },
    },
    mileageProp: {
      get() { return this.mileage; },
      set(value) {
        this.newMileage = value;
      },
    },
    transmissions() {
      return [...new Set(this.cars.map((car) => car.Transmission))].sort();
    },
    driveTrains() {
      return [...new Set(this.cars.map((car) => car.DriveTrain))].sort();
    },
    exteriorColor() {
      return [...new Set(this.cars.map((car) => car.ExteriorColor))].sort();
    },
    interiorColor() {
      return [...new Set(this.cars.map((car) => car.InteriorColor))].sort();
    },
    fuelTypes() {
      return [...new Set(this.cars.map((car) => car.FuelType))].sort();
    },
    engines() {
      return [...new Set(this.cars.map((car) => car.Engine))].sort();
    },
    carBodyTypes() {
      return [...new Set(this.cars.map((car) => car.BodyStyle))].sort();
    },
    highlightedFeatures() {
      const features = new Set();
      this.cars.forEach((car) => {
        car.HighlightedFeatures.forEach((feature) => {
          features.add(feature);
        });
      });

      return [...features].sort();
    },
  },
  async created() {
    const carMakers = await api.cars.getMakers();
    this.carMakers = carMakers.map((maker) => maker.BasicSpec_Make).sort();

    this.minYearList.push('Oldest');
    this.maxYearList.push('Newest');
    for (let maxYear = new Date().getFullYear() + 1; maxYear >= 1934; maxYear--) {
      this.minYearList.push(maxYear.toString());
      this.maxYearList.push(maxYear.toString());
    }
  },
  methods: {
    cangeCarMakersSelected() {
      this.$emit('changeCarModelsSelected', this.carModelsSelectedProp);
    },
    cangeBodyTypesSelected() {
      this.$emit('changeCarBodyTypesSelected', this.carBodyTypesSelectedProp);
    },
    changeZipCode() {
      this.$emit('changeLocationSelectedProp', { locations: this.locationSelectedProp, zipCode: this.newZipCode });
    },
    changePrice() {
      this.$emit('changePriceProp', { minPrice: this.newMinPrice, maxPrice: this.newMaxPrice });
    },
    changeTransmissionsSelected() {
      this.$emit('changeTransmissionsSelectedProp', this.transmissionsSelected);
    },
    changeDriveTrainsSelected() {
      this.$emit('changeDriveTrainsSelectedProp', this.driveTrainsSelected);
    },
    changeExteriorColorSelected() {
      this.$emit('changeExteriorColorSelectedProp', this.exteriorColorSelected);
    },
    changeInteriorColorSelected() {
      this.$emit('changeInteriorColorSelectedProp', this.interiorColorSelected);
    },
    changeFuelTypesSelected() {
      this.$emit('changeFuelTypesSelectedProp', this.fuelTypesSelected);
    },
    changeEnginesSelected() {
      this.$emit('changeEnginesSelectedProp', this.enginesSelected);
    },
    changeFeaturesSelected() {
      this.$emit('changeFeaturesSelectedProp', this.featuresSelected);
    },
    changeMileage() {
      this.$emit('changeMileageProp', this.newMileage);
    },
    getCount(name, propName) {
      return this.carsFiltered.filter((car) => car[propName] === name).length;
    },

    getFeatureCount(name) {
      let count = 0;
      this.carsFiltered.forEach((car) => {
        car.HighlightedFeatures.forEach((feature) => {
          if (feature === name) {
            count += 1;
          }
        });
      });
      return count;
    },
  },
};
</script>

<style lang="scss" src="@/assets/styles/search/sidebar.scss" scoped />
