<script>
export default {};
</script>

<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title class="mr-4">
        CarGradient
      </v-toolbar-title>
      <v-btn
        to="/"
        text
      >
        Research
      </v-btn>
      <v-btn
        to="/carsearch"
        text
      >
        Buy a car
      </v-btn>
      <v-btn
        to="/forum"
        text
      >
        Forum
      </v-btn>
      <v-btn
        disabled
        text
      >
        Car news
      </v-btn>
      <v-btn
        disabled
        text
      >
        Repairs
      </v-btn>
      <v-btn
        disabled
        text
      >
        After Market
      </v-btn>
      <v-spacer />
      <v-btn
        disabled
        icon
      >
        <v-icon>mdi-account</v-icon>
      </v-btn>
      <v-btn
        disabled
        icon
      >
        <v-icon>mdi-cards-heart</v-icon>
      </v-btn>
      <v-btn
        disabled
        text
      >
        Sign in
      </v-btn>
      <v-btn
        disabled
        text
      >
        Login
      </v-btn>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
  </v-app>
</template>
