<script>
import Draggable from 'vuedraggable';
import _uniq from 'lodash/uniq';
import _get from 'lodash/get';
import arrayMove from 'array-move';

import carImagePlaceholder from '~/assets/images/car.svg';
import ItemSelect from '~/components/ItemSelect';
import splitDigits from '~/helpers/values/splitDigits';

export default {
  components: {
    Draggable,
    ItemSelect,
  },
  data() {
    return {
      isHideSimilar: false,
      isShowItemChangeModal: false,
      isShowItemAddModal: false,
      changingItem: null,
      addingItem: null,
      headerFields: [
        'BasicSpec_Make',
        'BasicSpec_Model',
        'BasicSpec_Year',
        'BasicSpec_Trim',
        'CarPictures',
        'BasicSpec_MSRP',
      ],
    };
  },
  head() {
    return {
      title: 'Comparison',
    };
  },
  computed: {
    items() {
      return this.$store.getters['comparison/completedItems'];
    },
    allItems() {
      return this.$store.state.comparison.items;
    },
    rows() {
      // Filter uniq fields keys and group them
      const groups = {};
      _uniq(this.items.reduce((acc, item) => {
        acc.push(...Object.keys(item.specs));
        return acc;
      }, []))
        .filter((key) => !this.headerFields.includes(key))
        .forEach((key) => {
          const [group, field] = key.split('_');
          if (!groups[group]) {
            groups[group] = {
              name: group,
              fields: [],
            };
          }

          const values = this.items.map(({ specs }) => specs[key] || '-');

          if (!this.isHideSimilar || this.items.length < 2 || _uniq(values).length > 1) {
            groups[group].fields.push({
              label: field,
              values,
            });
          }
        });

      // Generate rows
      const rows = [];

      Object.keys(groups).forEach((key) => {
        const { name, fields } = groups[key];
        if (!fields.length) return;

        rows.push({
          isHeader: true,
          text: name,
        });
        rows.push(...fields);
      });

      return rows;
    },
    nav() {
      return this.rows
        .filter(({ isHeader }) => !!isHeader)
        .map(({ text }) => text);
    },
    isCleaningUpItems() {
      return this.$store.state.comparison.cleaningUpItems;
    },
  },
  mounted() {
    this.$store.dispatch('comparison/cleanUpItems').catch((err) => {
      // TODO: show toast or something like that
      console.error(err);
    });
  },
  methods: {
    splitDigits,
    getItemImageUrl(item) {
      return _get(item, 'specs.CarPictures', carImagePlaceholder);
    },
    onDragEnd(e) {
      if (e.oldIndex === e.newIndex) return;

      // -1 because first item in draggable row is not a car
      const oldIndexItem = this.items[e.oldIndex - 1];
      const newIndexItem = this.items[e.newIndex - 1];

      // We moved items in the completed items array
      // Need to fix indexes because in all items can be not only completed
      const oldIndex = this.allItems.findIndex((item) => item.$id === oldIndexItem.$id);
      const newIndex = this.allItems.findIndex((item) => item.$id === newIndexItem.$id);

      if (oldIndex < 0 || newIndex < 0) return;

      const items = arrayMove(this.allItems, oldIndex, newIndex);
      this.$store.dispatch('comparison/updateItems', items);
    },
    removeItem(item) {
      this.$store.dispatch('comparison/removeItem', item);
    },
    scrollTableToHeader(headerText) {
      const wrapper = this.$refs.table.$el.querySelector('.v-data-table__wrapper');
      if (!wrapper) return;

      const header = wrapper.querySelector(`[data-header="${headerText}"]`);
      if (!header) return;

      const thead = this.$refs.table.$el.querySelector('thead'); // fixed on scroll
      wrapper.scrollTop = header.offsetTop - thead.offsetHeight;
    },
    showItemChangeModal(item) {
      this.isShowItemChangeModal = true;
      this.changingItem = { ...item };
    },
    saveItemChanges() {
      if (this.changingItem.specs) {
        this.$store.dispatch('comparison/updateItem', this.changingItem);
      }
      this.isShowItemChangeModal = false;
    },
    cancelItemChanges() {
      this.isShowItemChangeModal = false;
    },
    addItem() {
      if (this.addingItem && this.addingItem.specs) {
        this.$store.dispatch('comparison/addItem', this.addingItem);
      }
      this.isShowItemAddModal = false;
      this.addingItem = null;
    },
    cancelItemAdd() {
      this.isShowItemAddModal = false;
      this.addingItem = null;
    },
  },
};
</script>

<template>
  <client-only>
    <v-container fluid>
      <div
        v-if="items.length"
        class="comparison"
      >
        <div class="comparison__nav">
          <v-navigation-drawer
            permanent
          >
            <template
              v-if="isCleaningUpItems"
            >
              <v-skeleton-loader
                type="list-item"
                tile
                boilerplate
              />
              <v-skeleton-loader
                type="list-item"
                tile
                boilerplate
              />
              <v-skeleton-loader
                type="list-item"
                tile
                boilerplate
              />
            </template>
            <v-list
              v-else
              dense
              nav
            >
              <v-list-item
                v-for="item in nav"
                :key="item"
                link
                @click="scrollTableToHeader(item)"
              >
                <v-list-item-content>
                  <v-list-item-title>{{ item }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>
        </div>
        <div class="comparison__table">
          <v-skeleton-loader
            v-if="isCleaningUpItems"
            type="table"
            tile
            boilerplate
          />
          <v-simple-table
            v-else
            ref="table"
            fixed-header
            height="calc(100vh - 88px)"
          >
            <!-- Table height: screen - container padding + header height -->
            <template #default>
              <thead>
                <Draggable
                  tag="tr"
                  draggable=".__draggable"
                  handle=".comparison-car__body"
                  @end="onDragEnd"
                >
                  <th
                    slot="header"
                    style="width: 10%; vertical-align: bottom;"
                    class="text-no-wrap"
                  >
                    <div class="text-caption ">
                      <v-switch
                        v-model="isHideSimilar"
                        dense
                        label="Hide similar options"
                      />
                    </div>
                    <div class="mb-4">
                      <v-btn
                        small
                        :disabled="items.length >= 5"
                        @click="isShowItemAddModal = true"
                      >
                        <v-icon>mdi-plus</v-icon>
                        <span>Add car</span>
                      </v-btn>
                    </div>
                  </th>
                  <th
                    v-for="item in items"
                    :key="item.$id"
                    class="text-body-2 __draggable"
                  >
                    <div class="comparison-car">
                      <div class="d-flex mb-2">
                        <v-btn
                          x-small
                          text
                          @click="showItemChangeModal(item)"
                        >
                          <span>Change car</span>
                        </v-btn>
                        <v-btn
                          x-small
                          text
                          color="red lighten-1"
                          @click="removeItem(item)"
                        >
                          Remove
                        </v-btn>
                      </div>
                      <div class="comparison-car__body">
                        <div class="comparison-car__image mb-2">
                          <img
                            :src="getItemImageUrl(item)"
                            alt=""
                          >
                        </div>
                        <div class="comparison-car__title">
                          {{ item.specs.BasicSpec_Make }}
                          {{ item.specs.BasicSpec_Model }}
                          {{ item.specs.BasicSpec_Year }}
                          {{ item.specs.BasicSpec_Trim }}
                        </div>
                      </div>
                      <div class="comparison-car__footer font-weight-bold">
                        ${{ splitDigits(item.specs.BasicSpec_MSRP) }}
                      </div>
                    </div>
                  </th>
                  <th style="width: 100%;" />
                </Draggable>
              </thead>
              <tbody>
                <tr
                  v-for="row in rows"
                  :key="row.value"
                >
                  <td
                    v-if="row.isHeader"
                    :colspan="items.length + 2"
                    class="font-weight-bold grey--text text--darken-1 grey lighten-4"
                    :data-header="row.text"
                  >
                    {{ row.text }}
                  </td>
                  <template v-else>
                    <td>
                      <span class="grey--text">{{ row.label }}</span>
                    </td>
                    <td
                      v-for="(value, i) in row.values"
                      :key="i"
                    >
                      {{ value }}
                    </td>
                    <td />
                  </template>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </div>
      </div>
      <div
        v-else
        class="text-center"
      >
        <div class="text-body-2 mb-5 mt-5">
          No cars selected
        </div>
        <v-btn
          to="/"
          color="primary"
        >
          Select cars to compare
        </v-btn>
      </div>
      <v-dialog
        v-model="isShowItemChangeModal"
        max-width="1024"
      >
        <v-card>
          <v-card-title>
            Change car
          </v-card-title>
          <v-card-text>
            <ItemSelect
              v-model="changingItem"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              :disabled="!changingItem || !changingItem.specs"
              text
              @click="saveItemChanges"
            >
              Save
            </v-btn>
            <v-btn
              text
              @click="cancelItemChanges"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="isShowItemAddModal"
        max-width="1024"
      >
        <v-card>
          <v-card-title>
            Add car
          </v-card-title>
          <v-card-text>
            <ItemSelect
              v-model="addingItem"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              :disabled="!addingItem || !addingItem.specs"
              text
              @click="addItem"
            >
              Save
            </v-btn>
            <v-btn
              text
              @click="cancelItemAdd"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </client-only>
</template>

<style lang="scss">
.comparison {
  display: flex;

  // TODO: stylelint fix
  &__nav,
  &__table {
    width: 100%;
    min-height: 1px;
    min-width: 0;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    box-sizing: border-box;
  }

  &__nav {
    flex: 0 0 auto;
    width: auto;
  }
}

.comparison-car {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  padding-bottom: 10px;

  &__body {
    flex: 1 0 auto;
    cursor: move;
  }

  &__remove {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  &__image {
    position: relative;
    height: 100px;
    pointer-events: none;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  &__footer {
    flex: none;
  }
}
</style>
