<script>
const createPopular = (name, tag) => ({
  name,
  tag,
  categories: [],
  expanded: false,
});

export default {
  async asyncData({ $config, $axios }) {
    const [latestData, siteData, categoriesData] = await Promise.all([
      $axios.get('https://forum.cargradient.com/latest.json')
        .then(({ data }) => data)
        .catch(() => { /* do nothing */ }),
      $axios.get('https://forum.cargradient.com/site.json')
        .then(({ data }) => data)
        .catch(() => { /* do nothing */ }),
      $axios.get('https://forum.cargradient.com/categories.json')
        .then(({ data }) => data)
        .catch(() => { /* do nothing */ }),
    ]);

    // Prepare content for popular tabs

    const popular = [
      createPopular('Hot Model Forum', 'car-models'),
      createPopular('Theme Forum', 'theme'),
      createPopular('Regional forum', 'regional'),
    ];

    if (latestData) {
      popular.forEach((tab) => {
        const topics = latestData.topic_list.topics.filter(({ tags }) => tags.includes(tab.tag));

        tab.categories = Object.values(topics.reduce((acc, item) => {
          if (!acc[item.category_id]) {
            const category = siteData.categories.find(({ id }) => id === item.category_id);

            acc[category.id] = {
              id: category.id,
              name: category.name,
              url: `${$config.forumBaseUrl}/c/${category.slug}/${category.id}`,
              score: 0,
            };
          }

          acc[item.category_id].score += item.posts_count + item.posts_count + item.like_count;

          return acc;
        }, {}))
          .sort((a, b) => b.score - a.score);
      });
    }

    // Prepare recommended categories

    const recommended = categoriesData
      ? categoriesData.category_list.categories
        .map((category) => ({
          id: category.id,
          name: category.name,
          score: category.topic_count + category.post_count,
          url: `${$config.forumBaseUrl}/c/${category.slug}/${category.id}`,
        }))
        .sort((a, b) => b.score - a.score)
        .slice(0, 5)
      : [];

    // Prepare topics carousel

    const topicsCarousel = latestData
      ? latestData.topic_list.topics
        .filter((topic) => !!topic.image_url)
        .map((topic) => ({
          id: topic.id,
          name: topic.title,
          score: topic.like_count + topic.posts_count + topic.reply_count,
          image: topic.image_url,
          url: `${$config.forumBaseUrl}/t/${topic.slug}/${topic.id}`,
        }))
        .sort((a, b) => b.score - a.score)
        .slice(0, 8)
      : [];

    const hotQuestions = latestData
      ? latestData.topic_list.topics
        .filter(({ tags }) => tags.includes('question'))
        .map((topic) => ({
          id: topic.id,
          name: topic.title,
          score: topic.like_count + topic.posts_count + topic.reply_count,
          replies: topic.reply_count,
          views: topic.views,
          url: `${$config.forumBaseUrl}/t/${topic.slug}/${topic.id}`,
        }))
        .sort((a, b) => b.score - a.score)
        .slice(0, 8)
      : [];

    const top10Topics = latestData
      ? latestData.topic_list.topics
        .map((topic) => ({
          id: topic.id,
          name: topic.title,
          score: topic.like_count + topic.posts_count + topic.reply_count,
          url: `${$config.forumBaseUrl}/t/${topic.slug}/${topic.id}`,
        }))
        .sort((a, b) => b.score - a.score)
        .slice(0, 10)
      : [];

    const top10Categories = categoriesData
      ? categoriesData.category_list.categories
        .map((category) => ({
          id: category.id,
          name: category.name,
          score: category.topic_count + category.post_count,
          url: `${$config.forumBaseUrl}/c/${category.slug}/${category.id}`,
        }))
        .sort((a, b) => b.score - a.score)
        .slice(0, 10)
      : [];

    return {
      popular,
      recommended,
      topicsCarousel,
      hotQuestions,
      top10Topics,
      top10Categories,
    };
  },
  data() {
    return {
      activePopular: null,
      popular: [],
      recommended: [],
      topicsCarousel: [],
      hotQuestions: [],
      top10Topics: [],
      top10Categories: [],
    };
  },
  head() {
    return {
      title: 'Forum',
    };
  },
  beforeMount() {
    this.activePopular = this.popular[0] || null;
  },
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="8">
        <v-tabs
          v-model="activePopular"
          background-color="blue-grey lighten-5"
          show-arrows
        >
          <v-tabs-slider />
          <v-tab
            v-for="item in popular"
            :key="item.name"
          >
            {{ item.name }}
          </v-tab>
          <v-tab disabled>
            Favorite forum
          </v-tab>
        </v-tabs>
        <v-tabs-items
          v-model="activePopular"
          class="mt-2"
        >
          <v-tab-item
            v-for="item in popular"
            :key="item.name"
          >
            <v-row>
              <template v-if="item.categories.length">
                <v-col
                  v-for="category in item.categories.length > 11 && !item.expanded ? item.categories.slice(0, 11) : item.categories"
                  :key="category.id"
                  cols="4"
                  lg="3"
                >
                  <a
                    :href="category.url"
                    target="_blank"
                  >
                    {{ category.name }}
                  </a>
                </v-col>
                <v-spacer />
                <v-col
                  v-if="item.categories.length > 11"
                  cols="4"
                  lg="3"
                >
                  <v-btn
                    small
                    text
                    @click="item.expanded = !item.expanded"
                  >
                    {{ item.expanded ? 'Less' : 'More' }}
                    <v-icon right>
                      {{ item.expanded ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
                    </v-icon>
                  </v-btn>
                </v-col>
              </template>
              <v-subheader v-else>
                No data
              </v-subheader>
            </v-row>
          </v-tab-item>
        </v-tabs-items>
      </v-col>
      <v-col cols="4">
        <v-text-field
          outlined
          disabled
          full-width
          hide-details
          dense
          label="Search"
          prepend-inner-icon="mdi-magnify"
        />
        <div class="mt-4">
          <v-btn
            color="primary"
            disabled
          >
            Open a new forum
          </v-btn>
        </div>
        <div class="mt-4">
          <v-btn
            color="success"
            small
            disabled
          >
            Do tasks earn forum points
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-divider class="my-4" />
    <div>
      <div class="text-h6 mb-4">
        Recommendation
      </div>
      <template v-if="recommended.length">
        <v-row>
          <v-col
            v-for="item in recommended"
            :key="item.id"
          >
            <v-card
              color="blue-grey lighten-5"
              flat
              :href="item.url"
              target="_blank"
            >
              <v-card-title class="subtitle-1">
                {{ item.name }}
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
      </template>
      <v-subheader v-else>
        No data
      </v-subheader>
    </div>
    <v-divider class="my-4" />
    <v-row>
      <v-col cols="7">
        <v-carousel
          v-if="topicsCarousel.length"
          cycle
          :interval="5000"
        >
          <v-carousel-item
            v-for="item in topicsCarousel"
            :key="item.id"
            :src="item.image"
          >
            <div
              class="text-size-h5 px-4 py-4"
              style="background: rgba(0, 0, 0, 0.3);"
            >
              {{ item.name }}
            </div>
            <a
              :href="item.url"
              target="_blank"
              style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;"
            />
          </v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col cols="5">
        <div class="text-h6 mb-4">
          Hot questions
        </div>
        <v-list
          v-if="hotQuestions.length"
          dense
        >
          <v-list-item-group
            color="primary"
          >
            <v-list-item
              v-for="item in hotQuestions"
              :key="item.id"
              link
              :href="item.url"
              target="_blank"
            >
              <v-list-item-icon>
                <v-icon>mdi-comment-question-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.name }}
                </v-list-item-title>
                <v-list-item-subtitle>
                  <div class="d-flex">
                    <v-icon small>
                      mdi-eye
                    </v-icon>
                    <span class="mx-2">{{ item.views }}</span>
                    <v-icon small>
                      mdi-forum-outline
                    </v-icon>
                    <span class="mx-2">{{ item.replies }}</span>
                  </div>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
        <v-subheader v-else>
          No hot questions
        </v-subheader>
        <div class="mt-4 d-flex">
          <v-btn
            small
            class="mr-4"
            disabled
          >
            <v-icon left>
              mdi-certificate
            </v-icon>
            Certified owner
          </v-btn>
          <v-btn
            small
            color="primary"
            disabled
          >
            Ask question
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-divider class="my-4" />
    <div class="text-h6 mb-4">
      Forum Rankings
    </div>
    <v-row>
      <v-col cols="4">
        <div class="text-subtitle-2 mb-4">
          Posts Rankings
        </div>
        <v-list
          v-if="top10Topics.length"
          dense
        >
          <v-list-item
            v-for="(item, i) in top10Topics"
            :key="item.id"
            link
            :href="item.url"
            target="_blank"
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ i + 1 }}. {{ item.name }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-subheader v-else>
          No data
        </v-subheader>
      </v-col>
      <v-col cols="4">
        <div class="text-subtitle-2 mb-4">
          Forum Rankings
        </div>
        <v-list
          v-if="top10Categories.length"
          dense
        >
          <v-list-item-group
            color="primary"
          >
            <v-list-item
              v-for="(item, i) in top10Categories"
              :key="item.id"
              link
              :href="item.url"
              target="_blank"
            >
              <v-list-item-content>
                <v-list-item-title>
                  {{ i + 1 }}. {{ item.name }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
        <v-subheader v-else>
          No data
        </v-subheader>
      </v-col>
      <v-col cols="4">
        <div class="text-subtitle-2 mb-4">
          User Rankings
        </div>
        <v-subheader>
          No data
        </v-subheader>
      </v-col>
    </v-row>
  </v-container>
</template>
