<script>
import ItemSelect from '~/components/ItemSelect';

export default {
  components: {
    ItemSelect,
  },
  head() {
    return {
      title: 'Research',
    };
  },
  computed: {
    items() {
      return this.$store.state.comparison.items;
    },
    isCleaningUpItems() {
      return this.$store.state.comparison.cleaningUpItems;
    },
    completedItems() {
      return this.$store.getters['comparison/completedItems'];
    },
  },
  mounted() {
    this.$store.dispatch('comparison/cleanUpItems').catch((err) => {
      // TODO: show toast or something like that
      console.error(err);
    });

    if (!this.items.length) {
      this.addItem();
    }
  },
  methods: {
    addItem() {
      this.$store.dispatch('comparison/addItem');
    },
    removeItem(item) {
      this.$store.dispatch('comparison/removeItem', item);
    },
    onChangeItem(item) {
      this.$store.dispatch('comparison/updateItem', item);
    },
    clearItems() {
      this.$store.dispatch('comparison/clearItems');
    },
  },
};
</script>

<template>
  <client-only>
    <v-container>
      <v-card>
        <v-card-title>
          Research the cars
        </v-card-title>
        <template v-if="isCleaningUpItems">
          <v-card-text>
            <v-skeleton-loader
              type="list-item"
              tile
            />
            <v-skeleton-loader
              type="list-item"
              tile
            />
            <v-skeleton-loader
              type="list-item"
              tile
            />
            <v-skeleton-loader
              type="list-item"
              tile
            />
          </v-card-text>
        </template>
        <template v-else>
          <v-card-text>
            Select max 5 cars
            <v-row
              v-for="(item, i) in items"
              :key="item.$id"
              class="flex-nowrap"
              align="baseline"
            >
              <v-col>
                <ItemSelect
                  :value="item"
                  @input="onChangeItem"
                />
              </v-col>
              <v-col cols="1">
                <v-btn
                  v-if="i > 0"
                  icon
                  color="error"
                  class="mr-2"
                  @click="removeItem(item)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <v-btn
              v-if="items.length < 5"
              text
              color="primary"
              @click="addItem"
            >
              <v-icon>mdi-plus</v-icon>
              <span>Add item</span>
            </v-btn>
          </v-card-text>
          <v-divider />
          <v-card-actions>
            <v-btn
              to="/comparison"
              color="primary"
              large
            >
              <v-icon class="mr-2">
                mdi-table-search
              </v-icon>
              <span>Compare selected cars</span>
            </v-btn>
            <v-btn
              v-if="items.length > 1"
              large
              text
              @click="clearItems"
            >
              <v-icon class="mr-2">
                mdi-close
              </v-icon>
              <span>Clear</span>
            </v-btn>
          </v-card-actions>
        </template>
      </v-card>
    </v-container>
  </client-only>
</template>
