<script>
import _isEqual from 'lodash/isEqual';

const MODEL = {
  make: '',
  model: '',
  year: '',
  specs: '',
};

export default {
  props: {
    value: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      mutableValue: {
        $id: '',
        make: '',
        model: '',
        year: '',
        specs: '',
      },
      availableValues: {
        make: [],
        model: [],
        year: [],
        specs: [],
      },
      loadingItems: {
        make: false,
        model: false,
        year: false,
        specs: false,
      },
    };
  },
  watch: {
    value: {
      handler(val, oldVal) {
        if (_isEqual(val, oldVal)) return;

        Object.assign(this.mutableValue, val || MODEL);

        if (this.mutableValue.make && (!oldVal || this.mutableValue.make !== oldVal.make)) {
          this.loadAvailableModels();
        }
        if (this.mutableValue.model && (!oldVal || this.mutableValue.model !== oldVal.model)) {
          this.loadAvailableYears();
        }
        if (this.mutableValue.year && (!oldVal || this.mutableValue.year !== oldVal.year)) {
          this.loadAvailableSpecs();
        }
      },
      deep: true,
    },
  },
  beforeMount() {
    if (this.value) {
      Object.assign(this.mutableValue, this.value);
    }

    this.loadAvailableMakes();

    if (this.mutableValue.make) this.loadAvailableModels();
    if (this.mutableValue.model) this.loadAvailableYears();
    if (this.mutableValue.year) this.loadAvailableSpecs();

    // Fuck Vuetify select - fill available values for selected values
    // to avoid flickering after async options loading.

    [
      'make',
      'model',
      'year',
      'specs',
    ].forEach((key) => {
      const value = this.mutableValue[key];
      if (value && !this.availableValues[key].includes(value)) {
        this.availableValues[key].push(value);
      }
    });
  },
  methods: {
    emitInput() {
      this.$emit('input', this.mutableValue);
    },
    async fetchItems(key, fetcher, query, prop) {
      if (this.loadingItems[key]) return;

      this.loadingItems[key] = true;

      this.availableValues[key] = [];

      try {
        this.availableValues[key] = await fetcher({ query })
          .then(({ data }) => {
            if (prop) return data.map((item) => item[prop]);
            return data;
          });
      } catch (err) {
        console.error(err);
      }

      this.loadingItems[key] = false;
    },
    async loadAvailableMakes() {
      await this.fetchItems('make', this.$apiClient.getCarMakers, null, 'BasicSpec_Make');
    },
    async loadAvailableModels() {
      const query = { car_make: this.mutableValue.make };
      await this.fetchItems('model', this.$apiClient.getCarModels, query, 'BasicSpec_Model');
    },
    async loadAvailableYears() {
      const query = {
        car_make: this.mutableValue.make,
        car_model: this.mutableValue.model,
      };
      await this.fetchItems('year', this.$apiClient.getCarYears, query, 'BasicSpec_Year');
      this.availableValues.year.sort((a, b) => parseInt(b, 10) - parseInt(a, 10));
    },
    async loadAvailableSpecs() {
      const query = {
        car_make: this.mutableValue.make,
        car_model: this.mutableValue.model,
        car_year: this.mutableValue.year,
      };
      await this.fetchItems('specs', this.$apiClient.getCarSpecs, query);
    },
    onSelectMake() {
      this.mutableValue.model = '';
      this.mutableValue.year = '';
      this.mutableValue.specs = '';
      this.loadAvailableModels();
      this.emitInput();

      this.$nextTick(() => {
        this.$refs.modelSelectEl.focus();
        this.$refs.modelSelectEl.activateMenu();
      });
    },
    onSelectModel() {
      this.mutableValue.year = '';
      this.mutableValue.specs = '';
      this.loadAvailableYears();
      this.emitInput();

      this.$nextTick(() => {
        this.$refs.yearSelectEl.focus();
        this.$refs.yearSelectEl.activateMenu();
      });
    },
    onSelectYear() {
      this.mutableValue.specs = '';
      this.loadAvailableSpecs();
      this.emitInput();

      this.$nextTick(() => {
        this.$refs.specsSelectEl.focus();
        this.$refs.specsSelectEl.activateMenu();
      });
    },
    onSelectTrim() {
      this.emitInput();
    },
  },
};
</script>

<template>
  <div>
    <v-row
      align="baseline"
      class="flex-nowrap"
    >
      <v-col>
        <div class="d-flex align-baseline">
          <v-icon
            class="mr-4"
            :color="mutableValue.specs ? 'green' : 'grey lighten-2'"
          >
            mdi-check
          </v-icon>
          <v-select
            v-model="mutableValue.make"
            :items="availableValues.make"
            :loading="loadingItems.make"
            label="Make"
            @input="onSelectMake"
          >
            <template #no-data>
              <div
                v-if="loadingItems.make"
                class="px-4 py-4"
              >
                Loading...
              </div>
            </template>
          </v-select>
        </div>
      </v-col>
      <v-col>
        <v-select
          ref="modelSelectEl"
          v-model="mutableValue.model"
          :items="availableValues.model"
          :loading="loadingItems.model"
          :disabled="!mutableValue.make"
          label="Model"
          @input="onSelectModel"
        >
          <template #no-data>
            <div
              v-if="loadingItems.model"
              class="px-4 py-4"
            >
              Loading...
            </div>
          </template>
        </v-select>
      </v-col>
      <v-col>
        <v-select
          ref="yearSelectEl"
          v-model="mutableValue.year"
          :items="availableValues.year"
          :loading="loadingItems.year"
          :disabled="!mutableValue.model"
          label="Year"
          @input="onSelectYear"
        >
          <template #no-data>
            <div
              v-if="loadingItems.year"
              class="px-4 py-4"
            >
              Loading...
            </div>
          </template>
        </v-select>
      </v-col>
      <v-col>
        <v-select
          ref="specsSelectEl"
          v-model="mutableValue.specs"
          :items="availableValues.specs"
          :loading="loadingItems.specs"
          :disabled="!mutableValue.year"
          item-text="BasicSpec_Trim"
          label="Trim"
          return-object
          @input="onSelectTrim"
        >
          <template #no-data>
            <div
              v-if="loadingItems.specs"
              class="px-4 py-4"
            >
              Loading...
            </div>
          </template>
        </v-select>
      </v-col>
    </v-row>
  </div>
</template>
