img.car-card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-active-slide {
  opacity: 0.7;
  height: 100%;
}

.active-slide {
  opacity: 1;
  height: 100%;
}

.swiper-bot-nav-space {
  width: 25px;
  min-width: 25px;
  background: #efefef;
  position: relative;
}

.swiper-bot-nav-space .swiper-button-prev {
  left: -2px;
}

.swiper-bot-nav-space .swiper-button-next {
  right: -2px;
}

.swiper-bot-nav-space .swiper-button-prev::after,
.swiper-bot-nav-space .swiper-button-next::after {
  font-size: 28px;
  color: #1976d2;
}

.play-video-btn {
  cursor: pointer;
  min-width: 14%;
  border: 1px solid #efefef;
  text-align: center;
  color: #868686;
}

.play-video-btn i {
  color: #868686;
}

.play-video-btn span {
  font-size: 14px;
}

.add-message {
  background-color: #ededed;
  border-radius: 20px;
  padding: 5px 15px 5px 10px;
}

.checkbox-form >>> .v-label {
  font-size: 14px;
}

.good-icon {
  font-size: 10px;
  border: 1px solid #1976d2;
  border-radius: 20px;
  padding: 2px;
  margin-right: 5px;
  background-color: #efefef;
}

.car-info .col-md-6 > div {
  min-height: 30px;
  display: flex;
  align-items: center;
}

.btn-back {
  font-size: 23px;
  color: #4d4c4c;
}

.float-block {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear;
  position: fixed;
  background: #fff;
  z-index: -999;
  width: 100%;
  left: 10px;
  box-shadow: 0 1px 2px 0 #0000004d;
}

.show-float-block {
  transition: opacity 0.2s linear;
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.float-block img {
  max-height: 80px;
  width: auto;
  margin: 0 auto;
  display: block;
}

.go-top {
  transition: opacity 0.1s linear;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 12px;
  opacity: 0.8;
}

.show-go-top {
  transition: opacity 0.2s linear;
  opacity: 0.8;
  visibility: visible;
}

.alert-block {
  font-size: 14px;
}

.slide-btn {
  cursor: pointer;
}

.slide-btn:hover {
  color: #1976d2;
}

.fixed-card {
  position: fixed;
  top: 183px;
}

.card-highlight.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow:
    0 3px 1px -2px rgb(25, 118, 210 / 0.48),
    0 2px 2px 0 rgb(25, 118, 210 / 0.48),
    0 1px 5px 0 rgb(25, 118, 210 / 0.48);
}
