.selects-wrap {
  min-height: 120px;
}

.search-page .v-btn {
  text-transform: initial;
}

.range-slider .v-input__control {
  margin-top: 5px;
}

.car-model {
  height: 500px;
  width: auto;
  margin: 0 auto;
  position: relative;
  top: -60px;
}
