.car-card .v-input--checkbox {
  margin-left: auto;
  margin-top: 0;
  padding-top: 0;
  font-weight: 400;
}

.car-list-wrap {
  padding: 10px 0;
}

.cars-grid__list .car-card {
  display: flex;
}

.cars-grid__list .v-card__title {
  display: none;
}

.cars-grid__list .v-card__text.car-grid-wrap {
  width: 20%;
}

.swiper-container {
  min-height: 125px;
}

.car-list-wrap .swiper-container {
  min-height: 250px;
}

.car-list-wrap .swiper-slide img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 22px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.cars-grid {
  padding: 0;
}

.car-card {
  width: 100%;
}

.car-card_img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  color: var(--swiper-theme-color);
  top: calc(50% - 10px);
  transition: opacity 0.2s ease-in;
}

.car-list-wrap .swiper-button-prev,
.car-list-wrap .swiper-button-next {
  top: calc(50% - 20px);
}

.car-grid-wrap .swiper:hover .swiper-button-prev,
.car-grid-wrap .swiper:hover .swiper-button-next,
.car-list-wrap .swiper:hover .swiper-button-prev,
.car-list-wrap .swiper:hover .swiper-button-next {
  opacity: 1;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.car-list-wrap .swiper-button-prev {
  left: 15px;
}

.car-list-wrap .swiper-button-next {
  right: 15px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 800;
  font-size: 20px;
}

.car-link {
  text-decoration: none;
  color: #666;
}

.car-link:hover {
  text-decoration: underline;
}

@media (min-width: 1264px) and (max-width: 2400px) {
  .flex.lg5-custom {
    width: 20%;
    max-width: 20%;
    flex-basis: 20%;
  }
}
