.height-2 {
  min-height: 2px;
}

.sidebar .v-input--checkbox {
  margin-top: 0;
}

// .sidebar .v-input--selection-controls__input:hover i {
//   color: var(--swiper-theme-color);
// }

::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.clear-expansion-style .v-expansion-panel::before {
  content: none;
}

.clear-expansion-style .v-expansion-panel-content >>> .v-expansion-panel-content__wrap {
  padding: 0 12px 16px !important;
}

.v-application .overflow-y-auto {
  overflow-x: hidden !important;
}
